
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg alert-danger">
        <a class="navbar-brand" href="/Index">Home</a>
        <a class="navbar-brand" href="/Index">Admin</a>
    </nav>
    <div> 
    </div>
</body>
</html>
