
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Products/Create" method="post">
    <div class="form-group">
        <label>Product Id</label>
        <input type="text" class="form-control" id="ProductId" placeholder="ProductId" name="ProductId" />
    </div>
    <div class="form-group">
        <label>Product Id</label>
        <input type="text" class="form-control" id="ProductName" placeholder="ProductName" name="ProductName" />
    </div>
    <div class="form-group">
        <label>Product Id</label>
        <input type="text" class="form-control" id="Rate" placeholder="Rate" name="Rate" />
    </div>
    <button>Submit</button>
</form>


