
@{
    ViewBag.Title = "Profilee";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Profilee</h2>
<div class="container-fluid">
    <div class="jumbotron">
    <table class="table">
        <tr>
            <td>Admin</td>
            <td>Employee</td>
        </tr>
    </table>
    </div>
</div>

