
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table">
    <tr>
        <th>ProductId</th>
        <td>@ViewBag.MatchingProd.ProductId</td>
    </tr>
    <tr>
        <th>ProductName</th>
        <td>@ViewBag.MatchingProd.ProductName</td>
    </tr>
    <tr>
        <th>ProductId</th>
        <td>@ViewBag.MatchingProd.Rate</td>
    </tr>
</table>

