
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg alert-danger">
        <a class="navbar-brand" href="~/Controllers/HomeController.cs">Home</a>
        <a class="navbar-brand" href="~/Controllers/AdminController.cs">Admin</a>
    </nav>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Headqueaters</h1>
            <p>@ViewBag.Tollfree</p>
        </div>
    </div>
</body>
</html>

